body{
}

header{
    background-color: #BBBBBB;

}

h1{
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}