
body{
}

.tituloPrincipal{
    font-size: 40px;
    padding: 0 0 0 30px;
}

#banner{
    width: 100%;
    
}

.principal{
    width: 940px;
    margin: 0 auto;
    padding: 20px;
    background: #cccccc;
    text-align: center;
}

em strong{
    color: red;
}

.diferenciales{
    width: 940px;
    padding: 30px;
    margin: 0 auto;

}

h2{
    text-align: center;
}

ul{
    display: inline-block;
    vertical-align: top;
    margin: 0 10% 0 0;
    width: 30%;
    

}

.items{
    font-style: italic;
}

.imagenDiferenciales{
    width: 50%;
}
